@model List<ManageUserRolesViewModel> 

@using Library.Models.Administration

@{ 
    ViewBag.Title = "Manage user roles";
    var userId = ViewBag.UserId;
}

<form method="post">
<div class="card text-dark text-center mt-5">
    <div class="card-header">
        <h2>Manage User Roles</h2>
        <p>If you want the role to be assigned to the given user, check the checkbox, otherwise leave it unchecked.</p>
    </div>
    <div class="card-body">
        @for (int i=0; i<Model.Count; i++)
        {
        <div class="form-check m-1">
            <input type="hidden" asp-for="@Model[i].RoleId"/> 
            <input type="hidden" asp-for="@Model[i].RoleName"/> 
            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
            <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].RoleName</label>
        </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
        <a asp-action="EditUser" asp-route-id="@userId" class="btn btn-primary">Cancel</a>
    </div>
</div>
</form>