@model ManageUserClaimsViewModel

@using Library.Models.Administration

@{
    ViewBag.Title = "Manage user claims";
}

<form method="post">
    <div class="card text-dark text-center mt-5">
        <div class="card-header">
            <h2>Manage User Claims</h2>
            <p>If you want to add a claim to the user, check the checkbox, otherwise leave it unchecked.</p>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">@Model.Claims[i].ClaimType</label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>