@model PaginatedList<Library.Models.Catalog.AssetIndexListingViewModel>

@inject SignInManager<User> signInManager

@{
    ViewBag.Title = "Library catalog";
    ViewBag.Create = "Create new item";
}

@section TopHeaders
{
    <h2 class="my-4 text-center">@ViewBag.Title</h2>

    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
    {
        <div class="row">
            <div class="col-md-3 mr-auto text-center">
                <a asp-controller="Catalog" asp-action="Create" class="btn btn-primary" style="width: auto">@ViewBag.Create</a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-4 col-6 mt-5 mx-auto">
            <form method="get">
                <div class="input-group">
                    <input class="form-control" name="searchString" placeholder="Search by title or author">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

}


<div class="table-responsive">
    <table class="table table-sm mt-4 text-white" id="catalogIndexTable">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author / Director</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in @Model)
            {
                var picturePath = asset.ImageUrl ?? "/images/default.png";

                <tr>
                    <td>
                        <div style="width:128px; height:auto">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="@picturePath" asp-append-version="true" class="imageCell" alt="book" />
                            </a>
                        </div>
                    </td>
                    <td class="">@asset.Title</td>
                    <td class="">@asset.AuthorOrDirector</td>
                </tr>
            }

            <tr>
                <td id="paginationDataCell">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-dark mr-1 @prevDisabled">
                        <strong><</strong>
                    </a>
                    <a asp-action="Index"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-dark @nextDisabled">
                        <strong>></strong>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
